<div class="footer_container">
    <div class="footer_contacts">
        <h2>Контакты</h2>
        <p>тц «Университи Молл»<br>ул. Панагюриште 2, 2 этаж 213 зал </p>
        <a href="tel:+7(988)759-29-47" class="phone">+7(988)759-29-47</a>
        <p>Отвечаем ежедневно<br>с 10:00 до 21:00</p>
    </div>
    <div class="footer_links">
        <a href="https://instagram.com/terra___yoga" class="fa-brands fa-instagram"></a>
        <a href="https://t.me/Terra_yoga" class="fa-brands fa-telegram"></a>
        <a href="https://wa.me/+79887592947" class="fa-brands fa-whatsapp wats"></a>
    </div>
    <div class="footer_nav">
        <h2>Навигация</h2>
        <a href="#directions">Направления</a>
        <a href="#teachers">Преподаватели</a>
        <!-- <a href="#tours">Туры</a> -->
    </div>
    <a href="./Privacy policy.docx" target="__blanck" class="footer_personal-data">Ссылка на политику конфиденциальности</a>
    <div class="footer_copyright">© 2024 YOGA MasterSKYa</div>
    <div id="map"></div>
</div>