<div class="header_container">

    <p class="header_logo"><span class="upper">YOGA</span> master<span class="upper">SKY</span>a</p>

    <nav class="header_menu">
        <a href="#directions" class="header_menu_link">
            НАПРАВЛЕНИЯ<a>
                <a href="#teachers" class="header_menu_link">ПРЕПОДАВАТЕЛИ</a>
                <!-- <a href="#tours" class="header_menu_link">ТУРЫ</a> -->
                <a href="#" class="header_menu_link sign-up_btn">ЗАПИСАТЬСЯ</a>
                <a href="schedule.html" class="header_menu_link">РАСПИСАНИЕ</a>
                <div class="messengers">
                    <a href="https://t.me/Terra_yoga" target="_blank" class="fa-brands fa-telegram telegram"></a>
                    <a href="https://wa.me/+79887592947" target="_blank" class="fa-brands fa-whatsapp whatsapp"></a>
                </div>
    </nav>

    <div class="header_burger">
        <div class="header_burger-line"></div>
        <div class="header_burger-line"></div>
        <div class="header_burger-line"></div>
    </div>

</div>