<div class="modal">
    <div class="modal_window">
        <form method="get" class="form">
            <h2 class="form_title">Запись на занятие</h2>
            <p class="form_description">Заполните форму ниже и мы перезвоним вам в ближайшее время для уточнения всех деталей!</p>
            <div class="form_group">
                <input type="number" name="phone" class="input_box" placeholder=" ">
                <label for="#phone_number">Ваш номер</label>
            </div>
            <div class="form_group">
                <input type="text" name="name" class="input_box" placeholder=" ">
                <label for="#name">Ваше имя</label>
            </div>
            <label class="politic_agree">
                Я согласен(a) с политикой конфиденциальности и обработки данных
                <input type="checkbox" name="agree" class="fa-solid fa-check" id="checkbox"
                       value="true" />
            </label>
            <button id="modalWindowButton" type="submit">отправить заявку</button>
        </form>
    </div>
</div>