<div class="welcom">
    <div class="welcom_container">
        <div class="welcom_content">
            <h1 class="welcom_title">
                Студия йоги в Пятигорске
                <!-- <span class="upper">YOGA</span><br>master<span class="upper">SKY</span>a -->
            </h1>
            <p class="welcom_description">
                Здесь пространство мастеров телесной терапии - через йогу и прикосновение.
                <br>
                <br>
                Сертифицированные специалисты в сфере йоги, массажа, тантры и стретчинга.
            </p>
            <button class="welcom_button sign-up_btn">
                Записаться
            </button>
        </div>
    </div>
</div>